<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Using the Financial Data Service App</h1>
    <p>This is a tutorial on using the API of the Financial Data Service App. Read content below and use the helpful links provided.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://heymrhayes.github.io/it302-financial-firm-app/"><span class="glyphicon glyphicon-flash"></span> Firm App</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
     Everything you need to know listed below.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this API works (Note: the website domain name is temporary and may change.)</h3>
      <ul>
		  <li><code>https://lima-macro-5000.codio.io/customers</code> - retrieve all customers</li>
		  <li><code>https://lima-macro-5000.codio.io/customers/[customerID]</code> - retrieve specific customer</li>
		  <li><code>https://lima-macro-5000.codio.io/customers/[customerID]/accounts</code> - retrieve all accounts for a specific customer</li>
		  <li><code>https://lima-macro-5000.codio.io/customers/[customerID]/positions</code> - retrieve all positions for a specific customer</li>
		  <li><code>https://lima-macro-5000.codio.io/accounts</code> - retrieve all accounts</li>
		  <li><code>https://lima-macro-5000.codio.io/accounts/[accountID]</code> - retrieve specific account</li>
		  <li><code>https://lima-macro-5000.codio.io/accounts/[accountID]/transactions</code> - retrieve transactions for a specific account</li>
		  <li><code>https://lima-macro-5000.codio.io/positions</code> - retrieve all positions</li>
		  <li><code>https://lima-macro-5000.codio.io/securities</code> - retrieve all securities</li>
		  <li><code>https://lima-macro-5000.codio.io/securities/[securityID]</code> - retrieve specific security</li>
		  <li><code>https://lima-macro-5000.codio.io/securities/[securityID]/current-price</code> - retrieve current price for a specific security</li>
		  <li><code>https://lima-macro-5000.codio.io/employees</code> - retrieve all employees</li>
		  <li><code>https://lima-macro-5000.codio.io/employees/[employeeID]</code> - retrieve specific employee</li>
		  <li><code>https://lima-macro-5000.codio.io/employees/[employeeID]/accounts</code> - retrieve all accounts for specific employee</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>Learn the API by following the tutorial <a href="https://lima-macro-5000.codio.io/">Financial App API</a></li>
        <li>Use it in your app and see the results!</li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
		  <li><a href="https://heymrhayes.github.io/it302-financial-firm-app/">Firm App</a></li>
		  <li><a href="https://www.heroku.com/home">Source on Github</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please contact me at abcd123@gmail.com for questions
  </div>
</div>


</body>
</html>
